{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/signin.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}

<div class="container my-5">
    <div class="row mt-5">
        <div class="col-sm-6 d-none d-md-block">
            <img src="{% static 'img/wall.jpeg' %}" class="signin__phone float-right" style="border-radius: 10%;">
        </div>
        <div class="col-sm-6 my-auto">
            <div class="mt-5">
                <div class="text-center card px-5 mr-md-auto signin__card">
                    <img src="{% static 'img/instalogo.png' %}" class="insta__logo mt-4 mb-3 mx-auto">
                    <div class="signin">
                        <div class="signin__form mb-3">
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-danger" role='alert'>
                                {{ message }}
                            </div>
                            {% endfor %}
                            {% endif %}
                            <form method="POST">
                                {% csrf_token %}
                                <div class="my-1 form__input">
                                    <input id="id_email_username" type="text" name="email_username"
                                        placeholder="Username or email">
                                </div>
                                <div class="my-1 form__input">
                                    <input id="id_password" type="password" name="password" placeholder="Password">
                                </div>
                                <div class="my-4 mx-auto text-center">
                                    <button class="btn btn-sm auth__btn">Sign in</button>
                                </div>
                            </form>
                        </div>
                        <div class="my-1 mx-auto text-center">
                            <p class="have__an__account py-3">Don't have an account? <a href="{% url 'signup_view' %}"
                                    class="text-decoration-none">Sign up</a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        {% endblock %}